---
import IndexLayout from '../layouts/IndexLayout.astro';
const pageTitle = "Connect";
const pageHeading = "Maybe we should talk."
---

<IndexLayout pageTitle={pageTitle} pageHeading={pageHeading}>

    <section class="body-content">
        <ul>
            <li>Email</li>
        </ul>
    </section>

</IndexLayout>
