---
import IndexLayout from '../layouts/IndexLayout.astro';
const pageTitle = "Maybe we should talk."
---

<IndexLayout title={pageTitle}>

    <section>
        <ul>
            <li>Email</li>
        </ul>
    </section>

</IndexLayout>
