---
import IndexLayout from '../layouts/IndexLayout.astro';
const pageTitle = "Ways I could help you."
---

<IndexLayout title={pageTitle}>

    <section>

        <p>"No one knows everything. User behaviors are evolving faster than companies can evolve. Curiosity and vulnerability is the only way to get even close to catching up, let alone getting ahead of it"</p>

        <ul>
            <li>Do you know how your business will look in the future?</li>
            <li>Do you wonder what your business needs to do to succeed in the future?</li>
            <li>Do you have customers or end users (B2B, B2C, B2B2C, B2C2B2U...)?</li>
            <li>Does the experience of your customers or partners make a difference to your business success?</li>
            <li>Do people making decisions have a direct impact on your success?</li>
            <li>Do you care, as a human, what it's like for other humans to interact with your products and services?</li>
            <li>Do you have competitors?</li>
            <li>Is your industry evolving and transforming?</li>
            <li>Is the pace and nature of change (online everything, AI-enabled services, social media driven...) overwhelming?</li>
        </ul>

        <p>If the answer is yes, it means you have design problems. It also means that you have design decisions being made in your organization every day. The key is how aware you and your team are of that fact, and how competently those decisions are being made. Maybe you know this, and have designers helping to make those decisions. Maybe you know this but haven't been able to build the capabilities to make better design decisions. Maybe this is new to you, and you're scratching your head!</p>

        <p>Wherever you are on that spectrum, I can help. If you have a design team and could use support leveling it up, or making better hires, or tackling a specific problem, I can probably be of use. If you want to create or grow a design function, and you're not sure where to get started, we can work on that together. Or if you just want to understand better what I mean, and where all these design decisions are, we should talk.</p>

        <p>A friend of mine said, "No one knows everything, and people's behaviors are evolving faster than companies can evolve. Curiosity and vulnerability are the only ways to keep up, let alone get ahead of it."</p>

        <p>If you want to increase you organization's curiosity and vulnerability towards those you are trying to serve, we might be a good fit.</p>
        
    </section>

</IndexLayout>

