---
import FormattedDate from './FormattedDate.astro';
interface Props {
	title: string;
	date: Date;
}

const { title, date } = Astro.props;
---

<header class="post-header">
	<a href="/posts" class="button -secondary -small -icon-left -back">All posts</a>
    <h2 class="post-header_title">
		{title}
	</h2>
	<FormattedDate date={date} />
</header>



