---

---

<footer class="site-footer">
    <site-container class="site-footer_grid">
        <ul class="site-footer_items">
            <li class="site-footer_item">
                <a href="https://www.linkedin.com/in/riverbrandon/">LinkedIn</a>
            </li>
            <li class="site-footer_item">
                <a href="https://mstdn.plus/@rvr">Mastodon</a>
            </li>
            <li class="site-footer_item -copyright">
                &copy; River Brandon {new Date().getFullYear()}
            </li>
        </ul>
    </site-container>
</footer>