---

---

<footer class="site-footer">
    <site-container class="site-footer_inner">
        <ul class="site-footer_items">
            <li class="site-footer_item">
                <a href="https://calendly.com/river-q3y" target="_blank">Calendly</a>
            </li>
            <li class="site-footer_item">
                <a href="https://www.linkedin.com/in/riverbrandon/" target="_blank">LinkedIn</a>
            </li>
            <li class="site-footer_item">
                <a href="https://mstdn.plus/@rvr" target="_blank">Mastodon</a>
            </li>
            <li class="site-footer_item -copyright">
                &copy; River Brandon {new Date().getFullYear()}
            </li>
        </ul>
    </site-container>
</footer>