:root {
    /*** Theme Colors ***/
  
    --base-light-h: 40;
    --base-light-s: 60%;
    --base-light-l: 96%;
    --base-light-hs: var(--base-light-h) var(--base-light-s);
    --base-light-hsl: var(--base-light-h) var(--base-light-s) var(--base-light-l);

    --base-light: hsl(var(--base-light-hsl));

    /* Darker */
    --base-light-1-hsl: var(--base-light-h) calc(var(--base-light-s) - 5%) calc(var(--base-light-l) - 4%);
    --base-light-1: hsl(var(--base-light-1-hsl));
    --base-light-2-hsl: var(--base-light-h) calc(var(--base-light-s) - 10%) calc(var(--base-light-l) - 8%);
    --base-light-2: hsl(var(--base-light-2-hsl));
    --base-light-3-hsl: var(--base-light-h) calc(var(--base-light-s) - 15%) calc(var(--base-light-l) - 12%);
    --base-light-3: hsl(var(--base-light-3-hsl));
    --base-light-4-hsl: var(--base-light-h) calc(var(--base-light-s) - 20%) calc(var(--base-light-l) - 16%);
    --base-light-4: hsl(var(--base-light-4-hsl));

    /* Lighter */
    --base-light--1: hsl(var(--base-light-h) var(--base-light-s) 98%);
    --base-light--2: hsl(var(--base-light-h) var(--base-light-s) 100%);

  
    --base-dark-hsl: 236 22% 28%;
    --base-dark: hsl(var(--base-dark-hsl));
  
    --accent-light-hsl: 198 33% 72%;
    --accent-light: hsl(var(--accent-light));
    
    --accent-dark-hsl: 199 67% 36%;
    --accent-dark: hsl(var(--accent-dark-hsl));
  
    /* Bright color */
    --accent-bright-h: 22;
    --accent-bright-s: 99%;
    --accent-bright-l: 60%;
    --accent-bright-hs: var(--accent-bright-h) var(--accent-bright-s);
    --accent-bright-hsl: var(--accent-bright-h) var(--accent-bright-s) var(--accent-bright-l);

    --accent-bright: hsl(var(--accent-bright-hsl));

    --accent-bright-1-hsl: var(--accent-bright-h) var(--accent-bright-s) calc(var(--accent-bright-l) - 25%);
    --accent-bright-1: hsl(var(--accent-bright-1-hsl));
  
    /*** Custom Properties ***/
    --align-heading: start; /* align-heading */
    --font: "Work Sans Variable", sans-serif; /* font */
  
    /*** Type Scale ***/
    --text--2: clamp(0.69rem, 0.69rem + 0.03vw, 0.72rem);
    --text--1: clamp(0.83rem, 0.81rem + 0.09vw, 0.9rem);
    --text-0: clamp(1rem, 0.97rem + 0.17vw, 1.13rem);
    --text-1: clamp(1.2rem, 1.14rem + 0.28vw, 1.41rem);
    --text-2: clamp(1.44rem, 1.35rem + 0.43vw, 1.76rem);
    --text-3: clamp(1.73rem, 1.6rem + 0.64vw, 2.2rem);
    --text-4: clamp(2.07rem, 1.89rem + 0.91vw, 2.75rem);
    --text-5: clamp(2.49rem, 2.23rem + 1.28vw, 3.43rem);
    --text-6: clamp(2.99rem, 2.63rem + 1.77vw, 4.29rem);
    --text-7: clamp(3.58rem, 3.1rem + 2.42vw, 5.36rem);
  
    /*** Space Scale ***/
    --space--7: clamp(0.28rem, 0.29rem + -0.06vw, 0.24rem);
    --space--6: clamp(0.34rem, 0.35rem + -0.05vw, 0.3rem);
    --space--5: clamp(0.4rem, 0.41rem + -0.04vw, 0.37rem);
    --space--4: clamp(0.48rem, 0.49rem + -0.03vw, 0.46rem);
    --space--3: clamp(0.58rem, 0.58rem + 0vw, 0.58rem);
    --space--2: clamp(0.69rem, 0.69rem + 0.03vw, 0.72rem);
    --space--1: clamp(0.83rem, 0.81rem + 0.09vw, 0.9rem);
    --space-0: clamp(1rem, 0.97rem + 0.17vw, 1.13rem);
    --space-1: clamp(1.2rem, 1.14rem + 0.28vw, 1.41rem);
    --space-2: clamp(1.44rem, 1.35rem + 0.43vw, 1.76rem);
    --space-3: clamp(1.73rem, 1.6rem + 0.64vw, 2.2rem);
    --space-4: clamp(2.07rem, 1.89rem + 0.91vw, 2.75rem);
    --space-5: clamp(2.49rem, 2.23rem + 1.28vw, 3.43rem);
    --space-6: clamp(2.99rem, 2.63rem + 1.77vw, 4.29rem);
    --space-7: clamp(3.58rem, 3.1rem + 2.42vw, 5.36rem);
  }
  