--- 
import SiteHeader from "@components/SiteHeader.astro";
import SiteFooter from "@components/SiteFooter.astro";

const { siteSection, pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/styles/main.css" />
		<meta name="generator" content={Astro.generator} />
		<title>River Brandon | {pageTitle}</title>
	</head>

	<body>

		<SiteHeader siteSection={siteSection} />

		<site-container class="site-body">
			<main id="main-content">

				<slot />

			</main>
		</site-container>

		<SiteFooter />
	
	</body>
</html>
