--- 
import SiteHeader from "@components/SiteHeader.astro";
import SiteFooter from "@components/SiteFooter.astro";

const { siteSection, pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="I'm a designer. Learn how I can help you with your design problems, or read what I think on a range of topics.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="stylesheet" href="/styles/reset.css" />
		<link rel="stylesheet" href="/styles/properties.css" /> -->
		<link rel="stylesheet" href="/styles/main.css" />
		<meta name="generator" content={Astro.generator} />
		<title>River Brandon | {pageTitle}</title>
	</head>

	<body>

		<SiteHeader siteSection={siteSection} />

		<main class="site-body">
			<site-container class="site-body_content">

				<slot />

			</site-container>
		</main>

		<SiteFooter />
	
	</body>
</html>