---
import DefaultLayout from './DefaultLayout.astro';
import PostHeader from '@components/PostHeader.astro';
const { frontmatter } = Astro.props;
---

<DefaultLayout pageTitle={frontmatter.title} intro={null}>
    
    <article class="post">
       
        <PostHeader title={frontmatter.title} date={frontmatter.pubDate} />
        
        <section class="body-content post-body">

            <slot />
    
        </section>
        
    </article>
    
</DefaultLayout>


